### Decision Tree

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
#Read the train and test dataset
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

print(train_data.shape, test_data.shape)

(712, 25) (179, 25)

In [3]:
train_data.sample(5)

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
65,1,26.0,56.4958,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
349,1,15.0,14.4542,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
706,1,32.5,13.0000,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
101,1,24.0,69.3000,1,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
448,0,32.0,7.9250,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
train_x = train_data.drop(columns=['Survived'],axis=1)
train_y = train_data['Survived']

In [11]:
test_x = test_data.drop(columns=['Survived'],axis=1)
test_y = test_data['Survived']

Create the object of the Decision Tree model
You can also add other parameters and test your code here \
Some parameters are : max_depth and max_features
Documentation of sklearn DecisionTreeClassifier: 

https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

In [7]:
model = DecisionTreeClassifier()
model.fit(train_x,train_y)

# depth of the decision tree
print(f"Decision Tree depth: {model.get_depth()}")

Decision Tree depth: 19

In [9]:
# predict the target on the train dataset
predict_train = model.predict(train_x)
#print(f'Target on the train data {predict_train}')

In [10]:
# Accuracy score on train dataset
accuracy_train = accuracy_score(train_y, predict_train)
print(f"Accuracy train dataset: {accuracy_train}")

Accuracy train dataset: 0.9859550561797753

In [12]:
# Predict the target on the test dataset
predict_test = model.predict(test_x)

In [13]:
# Accuracy score on test dataset
accuracy_test = accuracy_score(test_y, predict_test)
print(f"Accuracy test dataset: {accuracy_test}")

Accuracy test dataset: 0.7597765363128491